extends ../layout/app
block content
    section#main-content
        include ../includes/modules/card
        div.container
            div.btn-show-more
                button.button.btn-outline Показать ещё 20