/* Vars:
  ========================================================================== */

// Font
$mainFont: "Montserrat";
// Background body
$bodyBg: #e5e5e5;

// Size
$mainFontColor: #000;
$mainFontSize: 0.875rem; // 14px
$mainFontWeight: 400;
$mainLineHeight: 1.4;

// Button
$buttonBg: #6ebbd3;
$buttonBorderOutline: #0ca3d1;

// Default border-radius
$defaultBorderRadius: 10px;

// header color
$headerTextColor: #fff;

// footer
$footerBg: #1f2021;

// Tooltip background
$tooltipBg: #1f2021;

// Card
$cardWidth: 290px;
$cardContent: #f3f3f3;
$buttonBgSold: #1f2021;

$desktopWidth: 1280px;
$smDesktopWidth: 1024px;
$tableWidth: 768px;
$smTableWidth: 640px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

/*
  All colors taken from:
  https://github.com/vedees/uimini
*/

// Main color
$default-color: #ffffff;
$primary-color: #444ce0;
$success-color: #26de81;
$danger-color: #fc5c65;
$warning-color: #fed330;
$light-color: #999999;
$purple-color: #8854d0;

// Neutral Color
$neutral-primary: #303133;
$neutral-regular: #606266;
$neutral-secondary: #909399;
$neutral-placeholder: #c0c4cc;

// Border Color
$border-base: #dcdfe6;
$border-light: #e4e7ed;
$border-lighter: #ebeef5;
$border-lightex: #f2f6fc;
