<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title T-task
        meta(name="description", content="T-task")
    body
        .wrapper
            include ../includes/modules/header
            .wrapper-content
                block content
                div.scroll-wrap                
                    button.button#scrollTop
            include ../includes/modules/footer
            include ../includes/modules/messages
        
            